<configuration>
    <!-- Suppress JDA logs -->
    <logger name="net.dv8tion.jda" level="WARN"/>

    <!-- Adjust the logging level for specific sub-packages if needed -->
    <logger name="net.dv8tion.jda.api.requests.RestRateLimiter" level="ERROR"/>
    <logger name="net.dv8tion.jda.internal.requests.Requester" level="ERROR"/>
    <logger name="net.dv8tion.jda.internal.entities.EntityBuilder" level="ERROR"/>

    <!-- Customize the logging pattern to replace thread name with "MoBot" -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{HH:mm:ss}] %-5level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default root logger -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>